# SQLite Instance for Country Club Data Set #

In [55]:
#importing packages
import pandas as pd
from sqlalchemy import create_engine

In [53]:
#creating engine
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

In [58]:
#printing table names
table_names = engine.table_names()
print(table_names)

['Bookings', 'Facilities', 'Members']

### Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! ###

In [72]:
#creating DataFrame for Q10
df_revenue = pd.read_sql_query("select name, \
                                sum(case when memid = 0 then slots * guestcost else slots * membercost end) as revenue \
                                from Bookings \
                                left join Facilities \
                                using(facid) \
                                group by name \
                                having revenue < 1000;", engine)

In [73]:
df_revenue.head()

            name  revenue
0     Pool Table      270
1  Snooker Table      240
2   Table Tennis      180

### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order ###

In [75]:
#creating DataFrame for Q11
df_rec = pd.read_sql_query("select a.surname || ', ' || a.firstname as members, \
                            b.surname || ', ' || b.firstname as recommended_by \
                            from Members a, Members b \
                            where a.recommendedby >0 and a.recommendedby = b.memid \
                            order by b.surname;", engine)

In [76]:
df_rec

                     members      recommended_by
0          Sarwin, Ramnaresh     Bader, Florence
1               Coplin, Joan      Baker, Timothy
2           Genting, Matthew     Butters, Gerald
3             Baker, Timothy     Farrell, Jemima
4              Pinker, David     Farrell, Jemima
5          Rumney, Henrietta    Genting, Matthew
6             Jones, Douglas        Jones, David
7                Dare, Nancy    Joplette, Janice
8               Jones, David    Joplette, Janice
9                 Hunt, John  Purview, Millicent
10               Boothe, Tim         Rownam, Tim
11          Joplette, Janice       Smith, Darren
12           Butters, Gerald       Smith, Darren
13             Owen, Charles       Smith, Darren
14               Smith, Jack       Smith, Darren
15           Mackenzie, Anna       Smith, Darren
16  Worthington-Smyth, Henry        Smith, Tracy
17        Purview, Millicent        Smith, Tracy
18            Crumpet, Erica        Smith, Tracy
19               Baker, Anne    Stibbons, Ponder
20           Bader, Florence    Stibbons, Ponder
21          Stibbons, Ponder       Tracy, Burton